@charset "utf-8";

/*===================================colors===================================*/

:root {
    --primary_dark: #000;
    --primary_light: #EEE;
    --primary: #AAA;
}

/*===================================general===================================*/